.reviews {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-top: 56px;
  width: 631px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #F2F4F7;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #E44848;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-transform: uppercase;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.stars {
  display: flex;
  align-items: center;
  gap: 4px;
}

.starFilled,
.starEmpty {
  width: 16px;
  height: 16px;
  display: block;
}

.starFilled {
  color: #FFC531;
}

.starEmpty {
  color: #F2F4F7;
}

.comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.noReviews {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin-top: 16px;
}