:root {
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
}

:root {
  --font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--main);
  overflow-x: hidden;
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* img {
  display: block;
  height: auto;
} */

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

/* ===== DATEPICKER CONTAINER ===== */

.react-datepicker {
  /* width: 100%; */
  border-radius: 12px;
  background-color: #FFFFFF;
}

/* ===== HEADER ===== */

.react-datepicker__header {
  border-bottom: none !important;
  background-color: #ffffff !important;
  padding: 12px 0 !important;
}

.react-datepicker__current-month {
  font-family: Inter;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 1.2;
  color: #101828 !important;
}

/* ===== NAVIGATION ===== */

.react-datepicker__navigation-icon::before {
  border-color: #475467 !important;
}

.react-datepicker__navigation {
  top: 9px !important;
  width: 24px !important;
  height: 24px !important;
}

.react-datepicker__navigation--previous {
  left: 12px !important;
}

.react-datepicker__navigation--next {
  right: 12px !important;
}

/* ===== DAYS GRID ===== */

.react-datepicker__day-names {
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 12px !important;
}

.react-datepicker__day-names::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #475467;
}

.react-datepicker__day-name {
  width: 36px !important;
  height: 14px !important;
  font-family: Inter !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 1.2 !important;
  text-align: center !important;
  color: #475467 !important;
}

.react-datepicker__day {
  width: 36px !important;
  height: 32px !important;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  color: #101828 !important;
}

.react-datepicker__day:hover,
.react-datepicker__day:focus {
  background-color: #475467 !important;
  color: #F7F7F7 !important;
  border-radius: 36px !important;
}

/* ===== DAY STATES ===== */

.react-datepicker__day--keyboard-selected {
  border-radius: 36px !important;
  background-color: #475467 !important;
  color: #101828 !important;
}


.react-datepicker__day--today {
  color: black !important;
  border-radius: 36px !important;
  background-color: #F7F7F7 !important;
}

.react-datepicker__day--in-selecting-range {
  border-radius: 36px !important;
  color: #F7F7F7 !important;
  background-color: #475467 !important;
}

.react-datepicker__day--in-range {
  border-radius: 36px !important;
  color: #F7F7F7 !important;
  background-color: #475467 !important;
}

/* ===== DISABLED DAYS ===== */

.react-datepicker__day--disabled {
  color: #dadde1 !important;
  pointer-events: none;
}