.item {
  width: 112px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
  border: 1px solid #dadde1;
  border-radius: 12px;
  transition: border-color 250ms linear;
}

.active {
  border-color: #e44848;
}

.label {
  max-width: 80px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.005em;
  text-align: center;
  color: #101828;
}