.container {
  width: 1440px;
  padding: 48px 64px 80px;
  min-width: 0;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #101828;
}

.meta {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  gap: 16px;
  margin-top: 8px;
  margin-bottom: 16px;
  align-items: center;
  color: #101828;
}

.rating,
.location {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.ratingIcon,
.mapIcon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.ratingText {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 28px;
  color: #101828;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  line-height: 0;
  width: 100%;
  margin: 28px 0;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 292 / 312;
  overflow: hidden;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.blockTabsBooking {
  display: flex;
  gap: 40px;
}